@import url("../css/fonts.css");

html,
body {
  background: url("../assets/BOOKS/MAIN_SITE/BACKGROUND\ FILL\ GIỮ\ CỐ\ ĐỊNH.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/******** Banner ********/

main .banner {
  border: orange 0.2rem solid;
  background: url("../assets/BOOKS/MAIN_SITE/BANNER.png");
  background-size: cover;
}

main .banner > p {
  font-size: 10vw;
  font-family: var(--Bungee);
  text-transform: uppercase;
  text-align: center;
  color: var(--text);
  text-shadow: 0.5rem 0.5rem 0.75rem #2c2b2b;
  line-height: 15vw;
}

/******** Book list ********/

main .book-list {
  max-width: 90%;
  height: auto;
  margin: 0 4.5%;
  background-size: cover;
  border: orange 0.2rem solid;
  background: rgba(255, 255, 255, 0.5);
}

main .book-list .list-item {
  width: 90%;
  margin: auto;
  margin-top: 1vw;
  height: auto;
}

main .book-list .list-item .slidebar {
  max-width: 100%;
  height: auto;
}

main .book-list .list-item .title-list {
  background: url("../assets/NÚT.png");
  background-size: cover;
  max-width: 20%;
  display: flex;
  justify-content: center;
}

main .book-list .list-item .title-list > p {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: var(--Kavoon);
  color: var(--text);
}

main .book-list .list-item .slidebar .item {
  cursor: pointer;
}

main .book-list .list-item .slidebar .item > img {
  width: 100%;
  height: 100%;
}

/******** Modal ********/

/* The Modal (background) */
.modal {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 102; /* Sit on top */
  padding-top: 2%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background: url("../assets/BOOKS/BOOK_INFO/BACKGROUND\ INFO\ SÁCH.png");
  background-size: cover;
  margin: auto;
  padding: 0;
  max-width: 42%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  overflow: hidden;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The Close Button */
.close {
  position: absolute;
  padding: 1% 70%;
  width: 5vw;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background: url("../assets/BOOKS/BOOK_INFO/NỀN\ SAU\ SÁCH.png");
  background-size: cover;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  display: flex;
}

.modal-header > img {
  max-width: 28%;
  position: relative;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.modal-body {
  width: 100%;
  height: auto;
  color: var(--text);
}

.modal-body > h2 {
  font-size: 2vw;
  text-transform: uppercase;
  font-family: var(--Bungee);
  text-shadow: 2px 2px 4px #2c2b2b;
  text-align: center;
  margin: 0;
  line-height: 4vw;
}

.modal-body > p {
  padding: 0 1%;
  text-align: center;
  font-size: 1vw;
  margin: 0;
  font-family: "Roboto_Slab";
}

.modal-body .bottom-btn {
  background: url("../assets/NÚT.png");
  background-size: cover;
  max-width: 40%;
  height: auto;
  margin: auto;
  cursor: pointer;
  margin-top: 0;
}

.modal-body .bottom-btn > p {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: var(--Bungee);
  text-align: center;
}

/******** Footer ********/
footer.footer {
  background: url("../assets/FOOTER.png");
  background-size: cover;
  height: 6.6vh;
}

/*              Viewport less then or equal to 1024px            */

@media only screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .modal-content,
  .close {
    top: 20%;
  }

  .close {
    padding: 5% 70%;
  }

  .indicator-index {
    height: 1.5rem !important;
  }

  .modal-content {
    max-width: 90%;
  }

  .modal-header {
    height: 25vh;
  }

  .modal-body > h2 {
    font-size: 6vw;
  }

  .modal-body > p {
    font-size: 3vw;
  }

  main .banner > p {
    font-size: 15vw;
    line-height: 20vw;
  }

  .nav .top-menu {
    display: none;
  }

  #overlay-button span {
    display: block;
  }

  main .book-list .list-item .title-list {
    max-width: 40%;
  }

  main .book-list .list-item .title-list > p {
    font-size: 3vw;
  }
}

/*              Viewport less then or equal to 768px            */

@media only screen and (max-width: 768px) {
  .thumbnail img {
    width: 60%;
  }

  .indicator-index {
    height: 1rem !important;
  }

  .card {
    right: 18%;
    /* left: 14%; */
  }

  main .book-list .list-item {
    margin: 4rem 2.5rem;
    width: 100%;
    height: auto;
  }
}

/*              Viewport less then or equal to 500px            */

@media only screen and (max-width: 500px) {
  .nav .logo > img {
    width: 80%;
  }

  main .book-list .list-item {
    margin: 1rem 1.2rem;
    width: 100%;
    height: auto;
  }

  .modal-body .bottom-btn > p {
    font-size: 3.2vw;
    line-height: 2.2rem;
  }
}
