@import url("../css/fonts.css");

html,
body {
  background: url("../assets/CATALOGUE/BG/FULL/FULL\ BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#all-catalogue {
  display: block;
}

#land-catalogue {
  display: none;
}

#sea-catalogue {
  display: none;
}

#air-catalogue {
  display: none;
}

/******** Banner ********/

main .banner {
  border: orange 0.2rem solid;
}

main .banner > p {
  font-size: 7vw;
  font-family: var(--Bungee);
  text-transform: uppercase;
  text-align: center;
  color: var(--text);
  text-shadow: 0.5rem 0.5rem 0.75rem #2c2b2b;
  line-height: 15vw;
}

#all-banner {
  background: url("../assets/CATALOGUE/BANNER/FULL.png");
  background-size: cover;
}

#land-banner {
  background: url("../assets/CATALOGUE/ROOT_BANNER/LAND-BANNER.jfif");
  background-size: cover;
}

#sea-banner {
  background: url("../assets/CATALOGUE/ROOT_BANNER/SEA-BANNER.jpg");
  background-size: cover;
}

#air-banner {
  background: url("../assets/CATALOGUE/ROOT_BANNER/AIR-BANNER.jfif");
  background-size: cover;
}

/******** Catalogue list ********/

main .catalogue {
  max-width: 90%;
  height: 15%;
  margin: 0 4.5%;
  background-size: cover;
  border: orange 0.2rem solid;
  background: rgba(255, 255, 255, 0.5);
}

main .catalogue .title-item {
  margin: 1rem 0;
  width: 100%;
  height: auto;
  display: inline-flex;
}

main .catalogue .title-item .title-list {
  background: url("../assets/CATALOGUE/NÚT/NÚT\ 2.png");
  background-size: cover;
  width: 24%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

main .catalogue .title-item .first-selected {
  background: url("../assets/CATALOGUE/NÚT/NÚT\ 1.png");
  background-size: cover;
}

main .catalogue .title-item .title-list > p {
  font-size: 1.8vw;
  text-transform: uppercase;
  font-family: var(--Kavoon);
  color: var(--text);
}

main .catalogue .catalogue-list {
  width: 100%;
  height: 90%;
  justify-content: space-around;
}

/*************************** Cards *******************************/

.cards {
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10em 0;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin: auto;
}

.thumbnail img {
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  margin-right: auto;
}

/******** Modal ********/

/* The Modal (background) */
.modal {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 102; /* Sit on top */
  padding-top: 12vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background: url("../assets/CATALOGUE/DINO\ INFO/INFO BG/KHUNG.png") no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  /* position: fixed; */
  margin: auto;
  padding: 0;
  max-width: 41%;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The Close Button */
.close {
  position: absolute;
  padding: 1% 70%;
  width: 5vw;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  max-width: 100%;
  height: 20vw;
  border-radius: 1rem;
}

#modal-header-1 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 1.png");
  background-size: cover;
}

#modal-header-2 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 2.png");
  background-size: cover;
}

#modal-header-3 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 3.png");
  background-size: cover;
}

#modal-header-4 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 4.png");
  background-size: cover;
}

#modal-header-5 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 5.png");
  background-size: cover;
}

#modal-header-6 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 6.png");
  background-size: cover;
}

#modal-header-7 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 7.png");
  background-size: cover;
}

#modal-header-8 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 8.png");
  background-size: cover;
}

#modal-header-9 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 9.png");
  background-size: cover;
}

#modal-header-10 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 10.png");
  background-size: cover;
}

#modal-header-11 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 11.png");
  background-size: cover;
}

#modal-header-12 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 12.png");
  background-size: cover;
}

#modal-header-13 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 13.png");
  background-size: cover;
}

#modal-header-14 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 14.png");
  background-size: cover;
}

#modal-header-15 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 15.png");
  background-size: cover;
}

#modal-header-16 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 16.png");
  background-size: cover;
}

#modal-header-17 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 17.png");
  background-size: cover;
}

#modal-header-18 {
  background: url("../assets/CATALOGUE/DINO\ INFO/DINO 18.png");
  background-size: cover;
}

.modal-header > img {
  max-width: 20%;
  height: auto;
  border-radius: 1rem;
}

.modal-body {
  width: 100%;
  height: auto;
  color: var(--text);
}

.modal-body > h2 {
  font-size: 3vw;
  text-transform: uppercase;
  font-family: var(--Bungee);
  text-shadow: 2px 2px 4px #2c2b2b;
  text-align: center;
  margin: 0;
  line-height: 4vw;
}

.modal-body > p {
  padding: 0 1%;
  text-align: center;
  font-size: 1vw;
  margin: 0;
  font-family: "Roboto_Slab";
}

.modal-body .indicator-bar {
  margin: auto;
  max-width: 70%;
  height: 100%;
  margin-top: 0.5rem;
  overflow: hidden;
  justify-content: space-around;
}

.modal-body .indicator-bar > img {
  max-width: 8%;
}

.modal-body .indicator-bar .indicator {
  background: #fff;
  width: 90%;
  height: auto;
  float: right;
  border-radius: 0.7rem;
  overflow: hidden;
}

.modal-body .indicator-bar .indicator .indicator-index {
  background: #ffb800;
  height: 2rem;
  border-radius: 0.7rem;
}

#indicator-1-1 {
  width: 85%;
}

#indicator-1-2 {
  width: 58%;
}

#indicator-1-3 {
  width: 77%;
}

#indicator-2-1 {
  width: 75%;
}

#indicator-2-2 {
  width: 66%;
}

#indicator-2-3 {
  width: 48%;
}

#indicator-3-1 {
  width: 61%;
}

#indicator-3-2 {
  width: 45%;
}

#indicator-3-3 {
  width: 72%;
}

#indicator-4-1 {
  width: 79%;
}

#indicator-4-2 {
  width: 77%;
}

#indicator-4-3 {
  width: 57%;
}

#indicator-5-1 {
  width: 41%;
}

#indicator-5-2 {
  width: 27%;
}

#indicator-5-3 {
  width: 93%;
}

#indicator-6-1 {
  width: 73%;
}

#indicator-6-2 {
  width: 82%;
}

#indicator-6-3 {
  width: 55%;
}

#indicator-7-1 {
  width: 54%;
}

#indicator-7-2 {
  width: 75%;
}

#indicator-7-3 {
  width: 73%;
}

#indicator-8-1 {
  width: 77%;
}

#indicator-8-2 {
  width: 48%;
}

#indicator-8-3 {
  width: 50%;
}

#indicator-9-1 {
  width: 70%;
}

#indicator-9-2 {
  width: 97%;
}

#indicator-9-3 {
  width: 66%;
}

#indicator-10-1 {
  width: 48%;
}

#indicator-10-2 {
  width: 75%;
}

#indicator-10-3 {
  width: 66%;
}

#indicator-11-1 {
  width: 48%;
}

#indicator-11-2 {
  width: 27%;
}

#indicator-11-3 {
  width: 68%;
}

#indicator-12-1 {
  width: 68%;
}

#indicator-12-2 {
  width: 29%;
}

#indicator-12-3 {
  width: 41%;
}

#indicator-13-1 {
  width: 27%;
}

#indicator-13-2 {
  width: 27%;
}

#indicator-13-3 {
  width: 39%;
}

#indicator-14-1 {
  width: 68%;
}

#indicator-14-2 {
  width: 29%;
}

#indicator-14-3 {
  width: 41%;
}

#indicator-15-1 {
  width: 68%;
}

#indicator-15-2 {
  width: 29%;
}

#indicator-15-3 {
  width: 41%;
}

#indicator-16-1 {
  width: 45%;
}

#indicator-16-2 {
  width: 36%;
}

#indicator-16-3 {
  width: 56%;
}

#indicator-17-1 {
  width: 56%;
}

#indicator-17-2 {
  width: 29%;
}

#indicator-17-3 {
  width: 4380%;
}

#indicator-18-1 {
  width: 63%;
}

#indicator-18-2 {
  width: 45%;
}

#indicator-18-3 {
  width: 36%;
}

/******** Footer ********/
footer.footer {
  background: url("../assets/FOOTER.png");
  background-size: cover;
  height: 6.6vh;
}

/*              Viewport less then or equal to 1500px            */

@media only screen and (max-width: 1500px) {
  .thumbnail img {
    max-width: 20vw;
  }
}

/*              Viewport less then or equal to 1024px            */

@media only screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .thumbnail img {
    max-width: 100vw;
  }

  .modal-content,
  .close {
    top: 20%;
  }

  .close {
    padding: 5% 70%;
  }

  .indicator-index {
    height: 1.5rem !important;
  }

  .modal-content {
    max-width: 90%;
  }

  .modal-header {
    height: 45vw;
  }

  .modal-body > h2 {
    font-size: 6vw;
  }

  .modal-body > p {
    font-size: 3vw;
  }

  main .banner > p {
    font-size: 15vw;
    line-height: 20vw;
  }

  main .catalogue .title-item .title-list {
    background: url("../assets/CATALOGUE/NÚT/button_2_resize.png");
    background-size: cover;
  }

  main .catalogue .title-item .title-list > p {
    font-size: 1.8vw;
  }

  main .catalogue .title-item .first-selected {
    background: url("../assets/CATALOGUE/NÚT/button_1_resize.png");
    background-size: cover;
  }

  main .catalogue .title-item .title-list > p {
    font-size: 6vw;
    line-height: 0%;
  }

  .card {
    right: 10%;
  }

  .top-bar .top-menu,
  .top-bar .menu-item {
    flex-direction: column;
  }

  .nav .top-menu {
    display: none;
  }

  #overlay-button span {
    display: block;
  }

  .modal-body > h2 {
    line-height: 8vw;
  }
}

/*              Viewport less then or equal to 768px            */

@media only screen and (max-width: 768px) {
  .thumbnail img {
    width: 60%;
  }
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 2rem 0;
  }

  .indicator-index {
    height: 1rem !important;
  }

  .card {
    right: 18%;
  }
}

/*              Viewport less then or equal to 500px            */

@media only screen and (max-width: 500px) {
  .indicator-index {
    height: 1.5rem !important;
  }

  .cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .card {
    right: 0;
    left: 0;
  }

  .thumbnail img {
    width: 80%;
    margin: 0 1rem;
  }

  .nav .logo > img {
    width: 80%;
  }
}
