@import url("../css/fonts.css");

html,
body {
  background: url("../assets/BOOKS/MAIN_SITE/BACKGROUND\ FILL\ GIỮ\ CỐ\ ĐỊNH.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/******** Banner ********/

main .banner {
  border: orange 0.2rem solid;
  background: url("../assets/CATALOGUE/ROOT_BANNER/MOVIES-ROOT.jpg");
  background-size: cover;
}

main .banner > p {
  font-size: 10vw;
  font-family: var(--Bungee);
  text-transform: uppercase;
  text-align: center;
  color: var(--text);
  text-shadow: 0.5rem 0.5rem 0.75rem #2c2b2b;
  line-height: 15vw;
}

/******** Movie list ********/

main .movie-list {
  max-width: 90%;
  height: auto;
  margin: 0 4.5%;
  background-size: cover;
  border: orange 0.2rem solid;
  background: rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 5em 0;
}

main .movie-list .movie-item {
  max-width: 80%;
  height: auto;
  margin: auto;
  background: url("../assets/MOVIES/INFO/INFO\ BACKGROUND.png");
  background-size: cover;
  border-radius: 1rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

main .movie-list .movie-item .movie-image {
  max-width: 100%;
  height: auto;
  display: flex;
  margin-top: 1vh;
}

main .movie-list .movie-item .movie-image > img {
  margin: auto;
  max-width: 96%;
  cursor: pointer;
}

main .movie-list .movie-item .movie-control {
  max-width: 100%;
  margin: 2rem;
  height: auto;
  display: flex;
}

main .movie-list .movie-item .movie-control .info-btn {
  background: url("../assets/MOVIES/MAIN_SITE/NÚT\ MOVIE.png");
  background-size: cover;
  width: 50%;
  height: 90%;
  cursor: pointer;
}

main .movie-list .movie-item .movie-control .info-btn > p {
  text-align: center;
  font-size: 1.3vw;
  text-transform: uppercase;
  font-family: var(--Bungee);
  color: var(--text);
  margin: auto;
}

/******** Modal ********/

/* The Modal (background) */
.modal {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 102; /* Sit on top */
  padding-top: 4%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background: url("../assets/BOOKS/BOOK_INFO/BACKGROUND\ INFO\ SÁCH.png");
  background-size: cover;
  margin: auto;
  padding: 0;
  max-width: 42%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  overflow: hidden;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The Close Button */
.close {
  position: absolute;
  padding: 1% 70%;
  width: 5vw;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  display: flex;
}

.modal-header > img {
  position: relative;
  margin: auto;
  margin-top: 0.2rem;
  max-width: 100%;
}

.modal-body {
  width: 100%;
  height: 100%;
  color: var(--text);
}

.modal-body > h2 {
  font-size: 2vw;
  text-transform: uppercase;
  font-family: var(--Bungee);
  text-shadow: 2px 2px 4px #2c2b2b;
  text-align: center;
  margin: 0;
}

.modal-body > p {
  padding: 0 1%;
  text-align: center;
  font-size: 1vw;
  margin: 0;
  font-family: "Roboto_Slab";
}

.modal-body .bottom-btn {
  background: url("../assets/NÚT.png");
  background-size: cover;
  background-size: cover;
  max-width: 40%;
  height: auto;
  margin: auto;
  cursor: pointer;
}

.modal-body .bottom-btn > p {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: var(--Bungee);
  text-align: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
}

/******** Watch modal ********/

.modal-watch {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 102; /* Sit on top */
  padding-top: 4%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content-watch {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
  padding: 0;
  max-width: 85%;
  height: auto;
  border: orange 0.2rem solid;
  border-radius: 1rem;
  overflow: hidden;
}

.modal-content-watch .movie-screen {
  max-width: 100%;
  height: auto;
  margin: auto;
  z-index: 101;
  display: flex;
}

.movie-screen > img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

/******** Footer ********/
footer.footer {
  background: url("../assets/FOOTER.png");
  background-size: cover;
  height: 6.6vh;
}

/*              Viewport less then or equal to 1024px            */

@media only screen and (max-width: 1024px) {
  .modal-content,
  .close {
    top: 20%;
  }

  .close {
    padding: 5% 70%;
  }

  .indicator-index {
    height: 1.5rem !important;
  }

  .modal-content {
    max-width: 90%;
  }

  .modal-body > h2 {
    font-size: 6vw;
  }

  .modal-body > p {
    font-size: 3vw;
  }

  main .banner > p {
    font-size: 15vw;
    line-height: 20vw;
  }

  .nav .top-menu {
    display: none;
  }

  #overlay-button span {
    display: block;
  }

  main .movie-list .movie-item .movie-control .info-btn {
    width: 100%;
  }

  .modal-watch {
    padding-top: 50%;
  }
}

/*              Viewport less then or equal to 768px            */

@media only screen and (max-width: 768px) {
  .thumbnail img {
    width: 60%;
  }

  .indicator-index {
    height: 1rem !important;
  }

  .card {
    right: 18%;
  }

  .modal-header > img {
    margin-top: 0;
  }
}

/*              Viewport less then or equal to 500px            */

@media only screen and (max-width: 500px) {
  .nav .logo > img {
    width: 80%;
  }

  .modal-body .bottom-btn > p {
    font-size: 3.2vw;
    line-height: 2.2rem;
  }

  main .movie-list .movie-item {
    max-width: 50%;
    margin: 2rem 2rem;
  }

  main .movie-list {
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  }

  main .movie-list .movie-item .movie-control .info-btn > p {
    font-size: 3vw;
    line-height: 2rem;
  }

  main .movie-list .movie-item .movie-control {
    margin: 0.5rem;
  }
}

/*              Viewport less then or equal to 375px            */

@media only screen and (max-width: 375px) {
  main .movie-list {
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  }
}

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
  main .movie-list {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}
